<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Web3Modal Flutter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>web3modal_flutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.web3modal.flutterExample</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>web3modalflutter</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wirexwallet</string>
		<string>stasis</string>
		<string>omni</string>
		<string>strikex</string>
		<string>bitcoincom</string>
		<string>bnc</string>
		<string>kryptogo</string>
		<string>roninwallet</string>
		<string>moonstake</string>
		<string>ripio</string>
		<string>frontier</string>
		<string>qubic</string>
		<string>dropp</string>
		<string>safepalwallet</string>
		<string>bee</string>
		<string>shido</string>
		<string>foxwallet</string>
		<string>exodus</string>
		<string>coolwallet</string>
		<string>shinobi-wallet</string>
		<string>halowallet</string>
		<string>spotonchain</string>
		<string>rainbow</string>
		<string>obvious</string>
		<string>robinhood-wallet</string>
		<string>kriptomatapp</string>
		<string>okto</string>
		<string>bitkeep</string>
		<string>hyperPay</string>
		<string>bitizen</string>
		<string>ape</string>
		<string>uniswap</string>
		<string>vimwallet</string>
		<string>oasys-wallet</string>
		<string>coinstats</string>
		<string>ledgerlive</string>
		<string>zerion</string>
		<string>safe</string>
		<string>okex</string>
		<string>trust</string>
		<string>thorwallet</string>
		<string>leapcosmos</string>
		<string>everspace</string>
		<string>cosmostation</string>
		<string>coinwallet</string>
		<string>mewwallet</string>
		<string>metamask</string>
		<string>avacus</string>
		<string>argent</string>
		<string>bybitapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
